/*--------------------------*/
/*----- CSS RESET -----*/
/*--------------------------*/
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}

body {
    
    font-family: 'Playfair Display', serif;
    background-color: #F8F0E3;
}


/*--------------------------------------------------------------------*/
/*-------------------------- NAVBAR -------------------------------*/
/*-------------------------------------------------------------------*/

nav {
    background: #F8F0E3;
    height: 80px;
    width: 100%;
    background-color: #F8F0E3;
}
label.logo {
    color: black;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav .navbar_content {
    float: right;
    margin-right: 100px;
    margin-top: 30px;
}
nav .navbar_content li {
    display: inline-block;
    margin: 0 20px;
}
nav .navbar_content li a {
    color: black;
    font-size: 17px;
    border-radius: 3px;
}
.active,
.active:hover {
    transition: 0.5s;
}
.active {
    display: inline-block;
    position: relative;
    color: black;
}

.active:after {
    content: '';
    z-index: 99 !important;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.active:hover:after{
	transform: scaleX(1);
  transform-origin: bottom left;
}
.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
/*--------------------------------------------------------------------*/
/*-------------------------- LANDING PAGE -------------------------------*/
/*-------------------------------------------------------------------*/
article {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1rem;
  }
  
  h1 {
    font-size: 2.4rem;
    margin: 0 0 0.75rem 0;
   
  }
  
  /* Pattern styles */
  .container1 {
    display: grid;
  }
  
  .left-half {
    background: #F8F0E3;
    grid-column: 1;
    height: 50vh;
    text-align: left;
    margin-left: 42%;
    background-color: #F8F0E3;

  }
  
  .right-half {
    background: #F8F0E3;
    grid-column: 2;
    height: 50vh;
    text-align: left;
    background-color: #F8F0E3;


  }
  .name{
    filter: url(#threshold) blur(0.2px);
    font-size: 4rem;
  }

  .icons{
      margin-top: 10px;
      
  }
  .icon_link{
      color: black;
  }
 
/*--------------------------------------------------------------------*/
/*-------------------------- MEDIA QUERY -------------------------------*/
/*--------------------------------------------------------------------*/

@media(max-width: 1011px) {
/*--------------------------------------------------------------------*/
/*-------------------------- NAVBAR -------------------------------*/
/*-------------------------------------------------------------------*/
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
/*--------------------------------------------------------------------*/
/*-------------------------- MEDIA QUERY -------------------------------*/
/*--------------------------------------------------------------------*/

@media(max-width: 988px) {
/*--------------------------------------------------------------------*/
/*-------------------------- NAVBAR -------------------------------*/
/*-------------------------------------------------------------------*/
    .checkbtn {
        display: block;
    }
    ul {
        z-index: 99 !important;

        position: absolute;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        top: 80px;
        transition: all 0.5s;
        text-align: center;
        background-color: #F8F0E3;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: black;
    }

    #check:checked ~ ul {
        left: 0;
    }
}