/*--------------------------*/
/*----- CSS RESET -----*/
/*--------------------------*/
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}

body {
    
    font-family: 'Playfair Display', serif;
    background-color: #F8F0E3;
}


/*--------------------------------------------------------------------*/
/*-------------------------- NAVBAR -------------------------------*/
/*-------------------------------------------------------------------*/

nav {
  background: #F8F0E3;
  height: 80px;
  width: 100%;
}
label.logo {
  color: black;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 100px;
  margin-top: 30px;
}
nav ul li {
  display: inline-block;
  margin: 0 20px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  border-radius: 3px;
}
a.active,
a:hover {
  transition: 0.5s;
}
a {
  display: inline-block;
  position: relative;
  color: black;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
a:hover:after{
transform: scaleX(1);
transform-origin: bottom left;
}
.checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.fa-bars{
  margin-right: 100%;
}

/*--------------------------------------------------------------------*/
/*-------------------------- LANDING PAGE -------------------------------*/
/*-------------------------------------------------------------------*/
.left_art, .right_art {
  /*border: 3px solid green;*/

    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1rem;
  }
  
  h1 {
    font-size: 2.4rem;
    margin: 0 0 0.75rem 0;
   
  }
  
  /* Pattern styles */
  .container1 {
    display: grid;
  }
  
  .left-half {
    /*border: 3px solid green;*/

    background: #F8F0E3;
    grid-column: 1;
    height: 50vh;
    text-align: left;
    margin-left: 20%;
    margin-top: 12%;
    background-color: #F8F0E3;

  }
  
  .right-half {
    /*border: 3px solid green;*/

    background: #F8F0E3;
    grid-column: 2;
    height: 50vh;
    text-align: left;
    background-color: #F8F0E3;
    margin-top: 12%;



  }
  .name{
    filter: url(#threshold) blur(0.2px);
    font-size: 4rem;
  }

  .icons{
      margin-top: 10px;
      
  }
  .icon_link{
      color: black;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    margin: 0px 2px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    
  }
  
  .fa:hover {
      box-shadow: 0 5px 15px rgba(0,0,0,7.77);
      cursor: pointer;
  }
  
  .fa-facebook {
    background: #F8F0E3;
    color: black;
  }
  
  .fa-twitter {
    background: #F8F0E3;
    color: black;
  }
  
  .fa-google {
    background: #F8F0E3;
    color: black;
  }
  
  .fa-linkedin {
    background: #F8F0E3;
    color: black;
  }
  
  /*--------------------------------------------------------------------*/
/*-------------------------- ABOUT ME -------------------------------*/
/*-------------------------------------------------------------------*/
.container2 {
  margin-top: -1%;
    display: grid;

  }
 
  .about_title{
    margin-top: 10%;
    font-size: 4rem;
    text-align: center;

  }
  .about_me_left{

    background: #F8F0E3;
    grid-column: 1;
    height: 50vh;
    text-align: left;
    margin-left: 35%;
    margin-top: 14%;
    background-color: #F8F0E3;


  }
  .about_me_right{

    background: #F8F0E3;
    grid-column: 2;
    height: 50vh;
    text-align: left;
    background-color: #F8F0E3;
    margin-top:5%;
    margin-right: 15%;
  }
  .left_about,
  .right_about{
    position: relative;
    top: 40%;
    transform: translate(0, -40%);
    padding: 1rem;
  }

  .about_text,
  .about_text2,
  .about_text3,
  .about_text4,
  .about_text5{
    font-size: large;
    text-indent: 40px;
    line-height: 22px;
  }
  .about_text2,
  .about_text3,
  .about_text4,
  .about_text5
  {
    margin-top: 20px;
  }

 /*--------------------------------------------------------------------*/
/*-------------------------- PROJECTS  -------------------------------*/
/*-------------------------------------------------------------------*/




/*--------------------------------------------------------------------*/
/*-------------------------- MEDIA QUERY -------------------------------*/
/*--------------------------------------------------------------------*/

@media(max-width: 1011px) {
/*--------------------------------------------------------------------*/
/*-------------------------- NAVBAR -------------------------------*/
/*-------------------------------------------------------------------*/
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}
/*--------------------------------------------------------------------*/
/*-------------------------- MEDIA QUERY -------------------------------*/
/*--------------------------------------------------------------------*/

@media(max-width: 988px) {
/*--------------------------------------------------------------------*/
/*-------------------------- NAVBAR -------------------------------*/
/*-------------------------------------------------------------------*/
    .checkbtn {
        display: block;
    }
    ul {
        z-index: 99 !important;

        position: absolute;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        top: 80px;
        transition: all 0.5s;
        text-align: center;
        background-color: #F8F0E3;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: black;
    }

    #check:checked ~ ul {
        left: 0;
    }
}